:root {
  background-color: #00a896;
  color: #66fcf1;
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  background-color: #0b0c10;
  height: 13vh;
  padding: 0 10%;
  color: #66fcf1;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;
}

.notes {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  height: 100%;
  width: 50%;
  border: 2px outset #45a29e;
  border-width: medium;
  margin: 30px 25%;
  box-shadow: 1px 1px 8px;
  border-radius: 2%;
  padding: 20px 5%;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;

}

.input-area {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-icon {
  margin-bottom: 20px;
}

h1 {
  margin-left: 10px;
}

@media (max-width:850px) {
  .header {
    font-size: 18px;
  }
}

@media (max-width:470px) {
  .header {
    font-size: 14px;
    padding: 0 5%;
  }

  footer {
    font-size: 0.8rem;
  }
}






